@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Science+Gothic:wght@100..900&display=swap");
:root {
  --color-1: #e6f2da;
  --color-2: #c5dca5;
  --color-3: #a1c76b;
  --color-4: #668d35;
  --color-5: #3d5618;
  --color-6: #23330e;

  --transparent-color-1: rgba(197, 220, 165, 0.5);
  --transparent-color-2: rgba(161, 199, 107, 0.5);
  --transparent-color-3: rgba(102, 141, 53, 0.5);
  --transparent-color-4: rgba(61, 86, 24, 0.5);
  --transparent-color-5: rgba(35, 51, 14, 0.5);
  --transparent-color-6: rgba(27, 39, 3, 0.5);

  --font-1: "Science Gothic";
  --font-2: "Fira Sans";
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-2);
  margin: 0;
  padding: 0;
  background: var(--color-1);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: var(--color-6);
  color: var(--color-3);
  text-align: center;
  padding: 2%;
  margin-bottom: 3%;
}

h1 {
  font-family: var(--font-1);
  margin-top: 0;
}

nav a {
  color: var(--color-1);
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  padding: 1%;
  border-radius: 20px;
  border-bottom: 4px double var(--color-4);
  background: linear-gradient(
    to bottom,
    var(--transparent-color-5),
    var(--transparent-color-3)
  );
}

main {
  width: 100%;
  height: 100%;
  text-align: center;
  flex: 1;
  padding: 10px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.product-card {
  background: var(--color-2);
  border: 2px solid var(--color-4);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px var(--transparent-color-3);
}

.product-card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
}

footer {
  text-align: center;
  margin-top: 20px;
  color: var(--color-2);
  background: var(--color-6);
}
